body{
	background-color: white;
	font-family: Helvetica Neue, Arial;
	overflow: hidden;
}

.name-prompt{
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	background-color: #eee;
	z-index: 2;
	padding: 10px;
}

.arena{
	margin: 0px auto;
	background-image: url(../img/bg5.jpg);
	background-size: 100%;
	position: relative;
	pointer-events: none;
}

.tank{
	position: absolute;
	background-repeat: no-repeat;
	/*background-position: -10px 0;*/
	background-size: 100% 160px;
}

.explosion{
	position: absolute;
	width: 100px;
	height: 120px;
	z-index: 99;
}

.tank-cannon{
	position: absolute;
	top: 30px;
	left: 12px;
	width: 80px;
	height: 80px;
	background-image: url(../assets/img/Firing2__000.png);
	background-repeat: no-repeat;
	background-size: 130% 100px;
	background-position: -20px 0;
	-webkit-transform-origin: 30px 65px;
	   -moz-transform-origin: 30px 65px;
		 -o-transform-origin: 30px 65px;
			transform-origin: 30px 65px;
}

.cannon-ball{
	position: absolute;
	width: 10px;
	height: 50px;
	left: 5px;
	top: -25px;
	background-image: url(../assets/img/blueLaser.png);
	background-repeat: no-repeat;
	/*background-position: -10px 0;*/
	background-size: 100% 50px;
}

.ball-explosion{
	position: absolute;
	display: inline-block;
	background-color: #873B05;
	width: 10px;
	height: 10px;
	opacity: 1;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;	
}

.ball-explosion.expand{
	width: 50px;
	height: 50px;
	background-color: #FCD700;
	opacity: 0;
	margin-left: -25px;
	margin-top: -25px;
	-webkit-border-radius: 25px;
	    moz-border-radius: 25px;
		 -o-border-radius: 25px;
			border-radius: 25px;
}

.info{
	width: 100px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -85px;
	margin-left: -50px;
	opacity: .8;
}

.label{
	font-size: 12px;
	text-align: center;
	width: 100px;
	color: #5e5e5e;
	margin: 0 auto;
	display: inline-block;
}

.hp-bar{
	width: 100px;
	height: 4px;
	background-color: #7DD12C;
	margin: 0 auto;
}

.fade{
	opacity: .3;
}

.tank-selection{
	display: inline-block;
	width: 800px;
	
	padding: 0;
	list-style-type: none;
	margin: 20px auto 0 auto;
}

.tank-select label{
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	text-align: center;
}

.tank-selection li{
	display: inline-block;
	float: left;
	width: 23%;
	text-align: center;
	cursor: pointer;
	border: 2px solid #eee;
	padding: 10px 0;
}

.tank-selection li.selected{
	border: 2px solid #158cba;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	border-radius: 5px;
}

/* skins */
.tank1{
	background-image: url(../assets/img/cruiser.png);
}

.tank2{
	background-image: url(../assets/img/cargoship.png);
}

.tank3{
	background-image: url(../assets/img/carrier.png);
}

.tank4{
	background-image: url(../assets/img/destroyer.png);
}

.tank5{
	background-image: url(../assets/img/shuttlenoweps.png);
}

.neutralObjects{
	position: absolute;
	background-repeat: no-repeat;
	/*background-position: -10px 0;*/
	background-size: 100% 160px;
}

.station{
	background-image: url(../assets/img/Alien-Spacestation.png);
}

.astroids1{
	background-image: url(../assets/asteroids/small/a10000.png);
}

.astroidm1{
	background-image: url(../assets/asteroids/medium/a10001.png);
}
.astroidm2{
	background-image: url(../assets/asteroids/medium/a10002.png);
}
.astroidm3{
	background-image: url(../assets/asteroids/medium/a10003.png);
}
.astroidm4{
	background-image: url(../assets/asteroids/medium/a10004.png);
}
.astroidm5{
	background-image: url(../assets/asteroids/medium/a10005.png);
}

.ironAstroid{
	background-image: url(../assets/asteroids/medium/b40002.png);
}

img{
	max-height: 250px;
}